<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Sigin  Form</title>
        <link rel="stylesheet" href="css/signin.css">
</head>
<body>
<div class="body">

    <div class="container">
                 <div class="head">
                  <span>Student - Login</span>
                </div>   
        {{#if Message}}
        <p class="{{#if isError}}error-message{{else}}success-message{{/if}}">
            {{Message}}
        </p>
        {{/if}}

        <form action="/signinUII" method="post" id="registrationForm" >
             <div class="inputs">
                    <input type="text" name="username" placeholder="Username or Email">
                    <input type="password"name="password" placeholder="Password">
                </div>
                <button>Login</button>
                {{!-- <a href="#">Forgot password</a> --}}
            </form>
            <div class="form-footer">
                <p>Don't have an account? <a href="/signupUI">Register</a></p>  
                <p> <a href="/Main">Back</a></p> 
            </div>
    
        </div>
 
    </div>
    
</body>
</html>
